.container {
  background:rgba(1,1,1, 0.6);
  padding:4rem 2rem;
  width:70%;
  margin:7rem auto 0;
  color: #FFF;
  -webkit-box-shadow: 0px 3px 10px -10px rgba(34,34,34,1);
  -moz-box-shadow: 0px 3px 10px -10px rgba(34,34,34,1);
  box-shadow: 0px 3px 10px -10px rgba(34,34,34,1);
}

h1 {
  text-align: center;
}
