.site-header {
  background:rgba(1,1,1, 0.6);
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:50px;
  line-height:50px;
  border-bottom:1px solid rgba(0,0,0, 0.45);
  color: #FFF;
  -webkit-box-shadow: 0px 3px 10px -10px rgba(34,34,34,1);
  -moz-box-shadow: 0px 3px 10px -10px rgba(34,34,34,1);
  box-shadow: 0px 3px 10px -10px rgba(34,34,34,1);
  z-index: 1;
}

p.title {
  margin:0;
  padding: 0;
  float:left;
  margin-left:2rem;
}

.site-navigation {
  float:right;
}

.site-navigation ul {
  margin: 0;
  padding:0;
  list-style-type: none;
  margin-right:2rem;
}

.site-navigation ul li {
  display: inline-block;
}

.site-navigation ul li a {
  text-decoration: none;
  color:#FFF;
  display: block;
  padding:0 0.5rem;
}

.site-navigation ul li a.active, .site-navigation ul li a:hover {
  background:rgba(0,0,0, 0.25);
}
